extends layout

block content
	div(ng-view)

//-test out diff
block scripts
	//- vendor
	script(src='/vendor/freelancer/js/jquery-1.11.0.js')
	script(src='/vendor/angular/angular.min.js')
	script(src='/vendor/angular-route/angular-route.min.js')
	script(src='/vendor/angular-resource/angular-resource.min.js')
	script(src='/vendor/bootstrap/js/bootstrap.min.js')
	script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
	script(src='/vendor/freelancer/js/classie.js')
	script(src='/vendor/freelancer/js/cbpAnimatedHeader.js')
	script(src='/vendor/freelancer/js/jqBootstrapValidation.js')
	script(src='/vendor/freelancer/js/contact_me.js')
	script(src='/vendor/freelancer/js/freelancer.js')
	
	//- controller
	script(src='/javascripts/apps/app.js')			
	script(src='/javascripts/controllers/controller.js')
	script(src='/javascripts/filters/filter.js')
	script(src='/javascripts/services/service.js')
	//- userapp
	script(src='https://app.userapp.io/js/userapp.client.js')
	script(src='https://app.userapp.io/js/angularjs.userapp.js')



