body
	padding: 50px
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
	background-color: #eee
	padding-bottom: 40px
	padding-top: 40px
	
	.form-signin, .form-login
		max-width: 330px
		padding: 15px
		margin: 0 auto
	.datepicker
		// padding-left: 50px
	.flash-message
		text-align: center
		background-color: gainsboro
		color: red
		padding: 10px
	.test
		width: 100px
	table
		.thead
			border: 0
			border-bottom: 1px
			border-style: solid
			border-color: #95a5a6
		td
			span
				font-size: 15px
				font-weight: bold
		.clickable
			cursor: pointer
			color: #95a5a6
		.typebox
			height: 27px

a
	color: #00B7FF
